{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": false
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "script"
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-var": "error",
    "prefer-const": "warn",
    "eqeqeq": ["warn", "always"],
    "no-with": "error",
    "no-implied-eval": "error",
    "no-eval": "error",
    "strict": ["error", "global"],
    "no-console": "warn",
    "semi": ["error", "always"],
    "quotes": ["warn", "single", { "avoidEscape": true }]
  }
}
